$primary-color: blue;
$border-color: darken($primary-color, 20%);

#chat {
    border: 3px solid $border-color;
    background-color: lighten($primary-color, 30%);
    display: grid;
    grid-template-columns: 1fr;
    margin: 1vh 5vw;
    padding: 1vh 0.5vw;

    ul {
        display: grid;
        grid-template-columns: 1fr;
    }

    #user-input {
        display: grid;
        grid-template-columns: 5fr 1fr;

        input, button {
            background-color: transparent;
            border: 1px solid $border-color;
        }
        
        button {
            padding: 0.25vh;
            font-size: 150%;
            transition: all 0.5s;

            &:hover {
                cursor: pointer;
                background-color: $primary-color;
            }
        }
    }
}